.pics_edit{
  max-width: 700px;
  display: block;
  margin: auto;
  position: relative;
  .draw_area {
    float: left;
    width: 500px;
    margin-right: 20px;
    #draw_block{
      border: 1px solid color(border);
    }
  }
  .access_block{
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: color(back);
    padding: 100px;
    .form-error{
      color: color(error);
    }

  }

  #EDIT_FORM{
    .buttons_block {
      float: right;
      .btn{
        width: 100%;
        margin-bottom: 20px;
      }

    }
    input[type='submit']{
      display: none;
    }
    .save_text{
      color: color(success);
    }
    .error_text{
      color: color(error);
    }
  }
}