footer {
  width: 100%;
  background-color: #888;
  height: 100px;
  margin-top: 50px;
  .logo_footer{
    font-size: 38px;
    color: color(header_text);
    padding: 20px 0;
    text-align: right;
  }
}