.list_page{
  .thumbnail{
    max-width: 100%;
    margin-bottom: 0;
  }
}

.controls {
  float: right;
  margin-top: -50px;
}

.picture_item{
  overflow: hidden;
  margin-bottom: 20px;
  h3{
    text-align: center;
  }
  .picture_controls{
    position: absolute;
    transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
    width: calc(100% - 30px);
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
  }
  &:hover{
    .picture_controls{
      transform: translateY(-120%);
    }
  }
}