.pics_view{
  max-width: 700px;
  display: block;
  margin: auto;
  .picture_area {
    float: left;
    width: 500px;
    margin-right: 20px;
    img{
      border: 1px solid color(border);
    }
  }


  .buttons_block {
    float: right;
    width: calc(100% - 520px);
    .btn{
      width: 100%;
      margin-bottom: 20px;
    }

  }
}